.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
  margin-right: 0;
}

.footer__column-link:hover {
  opacity: .3;
  transition: 1s linear;
}
