
.feynman {
  padding-top: 100px;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  background: url("../../images/feynman.png") bottom left no-repeat, #f2f2f2;
  background-size: 867px 637px;
}


